.formContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 3rem;
}

.form {
    position: relative;
    width: 40%;
}

.noteText {
    width: 100%;
    height: 180px;
    border-radius: 2px;
    resize: none;
    border: 1px solid gray;
    padding: 1rem;
    font-size: 1.2rem;
}

.noteOptions {
    position: absolute;
    bottom: 15px;
    left: 10px;
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.addButton {
    text-transform: uppercase;
    background-color: rgb(49, 178, 49);
    color: #fff;
    border-radius: 2rem;
    padding: 0.5rem 2.5rem;
    border: none;
    cursor: pointer;
    margin-top: 1rem;
}

@media only screen and (max-width: 768px){
    .form {
        width: 80%;
        margin: 0 auto;
        padding-right: 2rem;
    }
    .noteOptions {
        flex-direction: column;
    }
    .addButton {
        margin-right: 2rem;
    }
}